<div class="panel panel-default">
  <div class="panel-heading">
	<h2>Olvidaste tu contraseña?</h2>
  </div>

    <div class="panel-body">
		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="field form-group">
		    <%= f.label :correo %><br />
		    <%= f.email_field :email, autofocus: true, class: 'form-control'  %>
		  </div>

		  <div class="actions">
		    <%= f.submit "Enviame las instrucciones para resetear contraseña", class: 'btn btn-default' %>
		  </div>
		<% end %>
 		</div>
		<div class="panel-footer">
		<%= render "devise/shared/links" %>
	    </div>
   
</div>

  
